@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Carter One", cursive;
}

.hidden {
  display: none;
}

#firevoid {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 16px;
  width: 100vw;
  height: 100vh;

  background-color: rgb(10, 10, 10);
  color: white;
}

#firevoid #gameinfo {
  display: flex;
  font-size: 18px;
}

#firevoid #gameinfo p {
  margin: 16px 32px;
}

#firevoid #gameinfo span {
  display: inline-block;
  text-align: center;
  min-width: 48px;
  margin: 16px 4px;
  padding: 8px;
  background-color: rgb(40, 40, 40);
  border-radius: 8px;
}

#firevoid #gameinfo #pause-btn {
  position: absolute;
  top: 0;
  right: 12px;
  background-color: rgb(160, 0, 0);
  cursor: pointer;
  transition: all 0.5s;
}
#firevoid #gameinfo #pause-btn:hover {
  background-color: rgba(160, 0, 0, 0.5);
  transition: all 0.5s;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.stageup {
  animation: blink-effect 0.25s step-end infinite;
}

/* gameboard */
#gameboard {
  margin: 16px;
}
#firevoid td {
  width: 32px;
  height: 32px;

  background-color: rgb(30, 30, 30);
  border-radius: 4px;
  border: 2px solid rgb(30, 30, 30);
  text-align: center;
}

#gameboard .person {
  border-color: rgb(255, 183, 0);
  background-color: rgba(255, 183, 0, 0.8);
}

#gameboard .fire-from-left {
  border-color: rgb(187, 0, 0);
  background-color: rgba(187, 0, 0, 0.8);
}

#gameboard .fire-from-right {
  border-color: rgb(152, 0, 228);
  background-color: rgba(152, 0, 228, 0.8);
}

/* modal */

#modal {
  display: none;
  position: absolute;
  pointer-events: none;
}

#modal.show {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  pointer-events: all;
}

#modal #background {
  display: none;
}
#modal #background.show {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}

#modal #background.show.collide-from-left {
  transition: all 0.5s;
  background-color: rgba(187, 0, 0, 0.5);
}
#modal #background.show.collide-from-right {
  transition: all 0.5s;
  background-color: rgba(152, 0, 228, 0.5);
}

#modal .modal-content {
  display: none;
  color: white;
}
#modal .modal-content.show {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 8px;
  width: 100%;
  height: 100%;
}

#modal a {
  display: inline-block;
  padding: 18px 48px;
  margin: 24px 8px;
  border: 2px solid white;
  border-radius: 8px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

#modal a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#modal h2 {
  font-size: 48px;
}
#modal p {
  font-size: 24px;
}

/* touchkey  */
/* #touchkey {
  display: none;
} */
#touchkey {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#touchkey div {
  display: flex;
  flex-direction: column;

  /* width: 100%;
  height: 100%; */
}
button {
  display: block;
  width: 72px;
  height: 72px;
  font-size: 48px;

  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  margin: 8px;
}

@media screen and (max-width: 768px) {
  #modal nav a {
    display: block;
  }
  #modal p {
    font-size: 16px;
  }
  #firevoid #gameinfo {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  #firevoid #gameinfo p {
    margin: 0;
  }

  #touchkey {
    flex: 1;
    display: flex;
    width: 100%;
    max-height: 50%;
  }
  #touchkey div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 100%;
    height: 100%; */
  }
  #touchkey-left {
    align-items: flex-start;
  }
  #touchkey-right {
    align-items: flex-end;
  }
  /* button {
    display: block;
    width: 64px;
    height: 64px;
    font-size: 48px;

    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    margin: 8px;
  } */
}
