* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

#firevoid {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

/* gameboard */
#firevoid td {
  width: 32px;
  height: 32px;

  background-color: rgb(240, 240, 240);
  border-radius: 4px;
}

#gameboard .person {
  background-color: rgb(255, 183, 0);
}

#gameboard .fire-from-left {
  background-color: rgb(187, 0, 0);
}

#gameboard .fire-from-right {
  background-color: rgb(152, 0, 228);
}

/* modal */
#modal {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

#modal #background {
  display: none;
}
#modal #background.show {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  background-color: #00000070;
  transition: all 0.5s;
}

#modal #background.show.collide-from-left {
  transition: all 0.5s;
  background-color: rgba(187, 0, 0, 0.5);
}
#modal #background.show.collide-from-right {
  transition: all 0.5s;
  background-color: rgba(152, 0, 228, 0.5);
}

#modal .modal-content {
  display: none;
}
#modal .modal-content.show {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 50%;

  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.75);
}
